<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
</head>

<body>

    <nav>
        <a href="../views/page1.html" >Home page</a>
        <a href="../views/page2.html" >Sign In</a>
        <a href="../views/page3.html">Sign up</a>
    </nav>

    <div class="gridContainer">

        <div class ="header">
            <h1>Someone to Run With</h1> 
        </div>

        <div class = "left">
            <img src="../static/dogs.jpg" alt="dogs" width="250"  height="300">
        </div>

        <div class = "right">
            <img src="../static/Canaan-Dog1.jpg" alt="dogs" width="300"  height="300">
        </div> 

        <div class="center">
            <p>Please enter your Username and your Password:</p>
            <form>
                <label for="username"> User Name </label><br>
                <input type ="text" id="username" name="username"><br>
                <label for="password"> Password </label><br>
                <input type ="text" id="password" name="password"><br><br>
                <a href = "../views/page5.html">
                    <input type="button" id="button" value="connect">
                </a>                
            </form>

            <p>Forget your password ? click on the link</p>
            <a href = "">Forget My Password</a>

        </div>

    </div>

    <footer>MAKE YOUR DOG HAPPY ! <br> Rotem Hazan © - WEB course 2022 </footer>
</body>

</html>


