<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page8</title>

</head>
<body>

    <nav>
        <a href="../views/page1.html" >Home page</a>
        <a href="../views/page2.html" >Sign In</a>
        <a href="../views/page3.html">Sign up</a>
    </nav>

    <div class="gridContainer">

        <div class ="header">
            <h1>Someone to Run With</h1> 
        </div>

        <div class = "left">
            <img src="../static/dogs.jpg" alt="dogs" width="250"  height="300">
        </div>

        <div class = "right">
            <img src='../static/Canaan-Dog1.jpg' alt="dogs" width="300"  height="300">
        </div> 

        <div class="center">
            <h2>Look what we found for you!!! <br>
                please choose which one you want and click the adress name</h2>
                <table>
                     <tr>
                        <td>Park - address</td>
                        <td>Number of dogs</td>
                        <td>Average size</td>
                    </tr>
                    <tr>
                        <td> <a href="../views/page9.html">Bialik 5</a> </td>
                        <td>5</td>
                        <td>20-25 kg</td>
                      </tr>
                      <tr>
                        <td> <a href = "../views/page9.html">Rager 15</a></td>
                        <td>10</td>
                        <td>10-15 kg</td>
                    </tr>
                    <tr>
                        <td> <a href="../views/page9.html">Yarkon 10</a> </td>
                        <td>4</td>
                        <td>20-25 kg</td>
                      </tr>
                      <tr>
                        <td> <a href = "../views/page9.html">Yuval 8</a></td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </table>
            </div>

    </div>

    <footer>MAKE YOUR DOG HAPPY ! <br> Rotem Hazan © - WEB course 2022 </footer>
</body>
</html> 


