<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page9</title>

</head>
<body>

    <nav>
        <a href="../views/page1.html" >Home page</a>
        <a href="../views/page2.html" >Sign In</a>
        <a href="../views/page3.html">Sign up</a>
    </nav>

    <div class="gridContainer">

        <div class ="header">
            <h1>Someone to Run With</h1> 
        </div>

        <div class = "left">
            <img src="../static/dogs.jpg" alt="dogs" width="300"  height="350">
        </div>

        <div class = "right">
            <img src='../static/Canaan-Dog1.jpg' alt="dogs" width="350"  height="350">
        </div> 



        <div class="center">
            <h2>We need you to continue get the best service</h3>
                <button>Please click here if you enter this park</button> <br><br>
                <button>Please click here if you go out from this park</button> <br>
                <h4>Thank you about your help</h4>
                <h4>See you soon!!!</h5>
        </div>

    </div>

    <footer>MAKE YOUR DOG HAPPY ! <br> Rotem Hazan © - WEB course 2022 </footer>
</body>
</html>


